{% extends 'base.html.twig' %}

{% block title %}Defi Works{% endblock %}

{% block body %}
    <header>
        <div><span>Defi works header</span></div>
    </header>

    <div id="register-form-root"></div>
{% endblock %}
